/*Copyright 2014, Josh Puckett*/

* {
    margin: 0;
    padding: 0;
    border: 0 none;
    cursor: url("https://s3-us-west-2.amazonaws.com/tweakapp.co/Framewebview/bobble.png"), default;
}

html, body {
  overflow: hidden;
}

iframe {
    background-color: white;
    width: 640px;
    height: 1136px;
}

#viewer {
  width: 792px;
  height: 1630px;
  background-image: url("../img/iphone_white.png");
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
}

#hand {
  background-image: url("../img/hand.png");
  background-size: cover;
  background-repeat: none;
  z-index: -1;
}